name: Wheel Builder

on:
  push:
    tags:
      - '*'

jobs:
  build_wheels:
    name: Push new release to PyPI
    runs-on: macos-latest

    steps:
      - name: Checkout mpf-monitor
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install mpf-monitor
        run: |
          pip install --upgrade pip setuptools wheel build
          pip install 'mpf>=0.56.0-dev33'
          pip install -e .

      - name: Run tests
        run: python -m unittest discover -s mpf/tests

      - name: Build wheel
        run: python -m build

      - uses: actions/upload-artifact@v3
        with:
          path: ./dist/*.*

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          print_hash: true
